
.sign-form{
    max-width: fit-content;
    top: 10%;
    margin: auto;
}

.button{
    margin-right: 5%;
    margin-left:5%;
}
button.link { background:none; border:none; cursor: pointer; color: #0645AD;}