<div class="row" *ngIf="this.comment != null">
    <div class="columnAvatar" *ngIf="this.userService.user!._id !== this.comment!.userId._id">
        <a href="/profile/{{this.comment.userId._id}}"><img class="avatar" src="{{this.comment!.userId.image}}" alt=""></a>
    </div>
    <div class="columnText">
        <mat-card>
            <mat-card-title>{{this.comment!.userId.name}}</mat-card-title>
            <mat-card-subtitle>@{{this.comment!.userId.username}}</mat-card-subtitle>
            <mat-card-content><p>{{this.comment!.text}}</p></mat-card-content>
            <mat-card-actions *ngIf="this.userService.user!._id === this.comment!.userId._id">
                <button mat-button color="warn" (click)="onDelete()">delete</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="columnSpace"><p></p></div>
    <div class="columnAvatar" *ngIf="this.userService.user!._id === this.comment!.userId._id">
        <a href="/profile/{{this.comment.userId._id}}"><img class="avatar" src="{{this.comment!.userId.image}}" alt=""></a>
    </div>
</div>

