
<mat-grid-list cols="6" rowHeight="6:1" *ngIf="user != null">
    <mat-grid-tile colspan="1" rowspan="6">
        <img src="{{user!.image}}" alt="profile image" class="avatar"><!--USER IMAGE-->
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <h2>{{user!.name}}</h2><!--NAME-->
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="8">
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <i>username:</i><pre> </pre><h3>@{{user!.username}}</h3><!--USERNAME-->
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <i>{{user!.description}}</i><!--Description-->
    </mat-grid-tile>
    <mat-grid-tile  colspan="2" rowspan="2">
        <button mat-flat-button>
            <b>Posts</b>
            <p>0</p>
            
        </button>
        <button mat-flat-button (click)="openFollows()">
            <b>Follows</b>
            <p>{{following}}</p>
            
        </button>
        <button mat-flat-button (click)="openFollowers()">
            <b>Followers</b>
            <p>{{followers}}</p>
            
        </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <div *ngIf="isSelf">
            <button mat-raised-button color="warn">Edit profile</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="6" rowHeight="1:1" *ngIf="user != null">
    <mat-grid-tile colspan="1" rowspan="1" *ngFor="let post of posts">
        <img src="{{post.image}}" alt="">
    </mat-grid-tile>
</mat-grid-list>