
<mat-card>
    <div class="row" *ngIf="this.profile.user != null">
        <div class="columnAvatar">
            <img src="{{this.profile.user!.image}}" alt="profile image" class="avatar">
        </div>
        <div class="columnText">
            <div class="text">
                <h2>{{this.profile.user!.name}}</h2>
            <h3>@{{this.profile.user!.username}}</h3>
            <i>{{this.profile.user!.description}}</i>
            <br>
            <button mat-flat-button>
                <b>Posts</b>
                <p>{{this.profile.posts.length}}</p>
            </button>
            <button mat-flat-button (click)="openFollows()">
                <b>Follows</b>
                <p>{{this.profile.following}}</p>
            </button>
            <button mat-flat-button (click)="openFollowers()">
                <b>Followers</b>
                <p>{{this.profile.followers}}</p>
            </button>
            <br>
            <div *ngIf="this.profile.isSelf">
                <button mat-raised-button color="warn" (click)="onEdit()">Edit profile</button>
                <a [routerLink]="['/live/' + this.profile.user!._id]" routerLinkActive="router-link-active" >
                    <button mat-raised-button color="warn">Go Live</button>
                </a>
            </div>
            <div *ngIf="!this.profile.isSelf">
                <a *ngIf="live" [routerLink]="['/live/' + this.profile.user!._id]" routerLinkActive="router-link-active" >
                    <button mat-raised-button color="warn">Watch live!</button>
                </a>
                <button *ngIf="!this.profile.followed" mat-raised-button color="warn" (click)="onFollow()">Follow</button>
                <button *ngIf="this.profile.followed" mat-stroked-button color="warn" (click)="onUnfollow()">Unfollow</button>
            </div>
            </div>
        </div>
    </div>
</mat-card>
<mat-grid-list cols="6" rowHeight="1:1" *ngIf="this.profile.user != null">
    <mat-grid-tile colspan="1" rowspan="1" *ngFor="let post of this.profile.posts">
        <app-mini-post-image [post]="post"></app-mini-post-image>
    </mat-grid-tile>
</mat-grid-list>