.post-card {
    max-width: 500px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  button.link { background:none; border:none; cursor: pointer; color: #0645AD;}