<mat-toolbar color="warn">
  <mat-toolbar-row>
    <span>FoodShare</span>
    
    <button mat-flat-button routerLink="/home" routerLinkActive="active" color="warn" *ngIf="this.userService.user !== null">Home</button>

    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-icon>search</mat-icon>
        <input matInput placeholder="search">
      </mat-form-field>
    </form>
    
    <span class="spacer"></span>
    <div *ngIf="this.userService.user !== null">
      <button mat-flat-button color="warn" [matMenuTriggerFor]="menu">
        <img src="{{this.userService.user.image}}" alt="avatar" width="60" height="60" class="avatar">
      </button>
      <mat-menu #menu="matMenu" >
        <p>{{this.userService.user!.name || ''}}</p>
        <p>@{{this.userService.user!.username || ''}}</p>
        <button mat-menu-item routerLink="/profile/{{this.userService.user._id}}" routerLinkActive="active">
          <mat-icon>perm_identity</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="logOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span>logout</span>
        </button>
      </mat-menu>
    </div>
    
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>