<div class="box">
  <div class="container-1">
    <input type="search" id="search" placeholder="Search 🔍" (input)="getUsersSearch($event)" />
  </div>
</div>

<div class="box2" *ngIf="data.length >=1">
  <mat-card class="post-card">
    <mat-card-header>
      <div mat-card-avatar
        style="background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');; background-size: cover;">
      </div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>@Dog Breed</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
