<div class="box">
  <div class="container-1">
    <input type="search" id="search" placeholder="Search 🔍" (input)="getUsersSearch($event)" />
  </div>
</div>

<div class="box2">
  <!-- Implentar card de presentacion -->
  <mat-card class="post-card" *ngFor="let m of data;">
    <a href="/profile/{{m._id}}">
      <mat-card-header>
        <div mat-card-avatar style="background-image: url('{{m.image}}'); background-size: cover;">
        </div>
        <mat-card-title>{{m.name}}</mat-card-title>
        <mat-card-subtitle>@{{m.username}}</mat-card-subtitle>
      </mat-card-header>
    </a>
  </mat-card>


  <mat-card class="post-card" *ngIf="data.length == 0">
    <mat-card-header>
      <div mat-card-avatar
        style="background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); background-size: cover;">
      </div>
      <mat-card-title>Shiba Inu,   Search your friends by name</mat-card-title>
      <mat-card-subtitle>@Dog Breed,  Or by username</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

</div>
