<mat-card class="post-card" *ngIf="post != null">
    <mat-card-header>
        <div mat-card-avatar style="background-image: url({{post.userId.image}}); background-size: cover;"></div>
      <mat-card-title><a href="/profile/{{post.userId._id}}">{{post.userId.name}}</a></mat-card-title>
      <mat-card-subtitle>@{{post.userId.username}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{post.image}}" alt="Post image">
    <mat-card-content>
      <p>
        {{post.userId.username}}:  {{post.description}}
      </p>
      <p>
          Date: {{post.publishedAt |  date:'MM/dd/yyyy'}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button  (click)="onFav()">
        <mat-icon class="example-icon" aria-hidden="false" color="{{this.liked?'warn':'basic'}}">favorite</mat-icon>
      </button>
      <button mat-button *ngIf="!inComments"
        routerLink="/post/{{this.post._id}}" routerLinkActive="active">
        <mat-icon class="example-icon" aria-hidden="false">question_answer</mat-icon></button>
      <small>liked by <button class="link" (click)="onSeeLikes()">{{this.likes}} persons</button></small>
    </mat-card-actions>
  </mat-card>